@page
@model FindHouseAndT.WebApp.Pages.CustomerPages.CustomerView.ListBookRequestModel
@{
}
<div class="row">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>RoomCode</th>
                <th>FullName</th>
                <th>Address</th>
                <th>Note</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var br in Model.Books)
            {
                <tr>
                    <td>@br.RoomCode</td>
                    <td>@br.FullName</td>
                    <td>@br.Address</td>
                    <td>@br.Note</td>
                    <td>@br.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>